<!DOCTYPE html>
<html>
<head>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eligibility Calculator</title>
</head>
<body>
    <div class="container">
        <div class="banner flex-center flex-row">
            <img class="logo" src="~/images/rrbseal.svg" />
            <h1 class="merriweather bold flex-1 x-large"><a href="https://rrb.gov/">U.S. Railroad Retirement Board</a></h1>
        </div>
        <nav class="navy">
            <ul class="nav">
                <li><a href="https://rrb.gov/OurAgency">Our Agency</a></li>
                <li><a href="https://rrb.gov/Benefits">Benefits</a></li>
                <li><a href="https://rrb.gov/Employers">Employers</a></li>
                <li><a href="https://rrb.gov/Resources">Resources</a></li>
                <li><a href="https://rrb.gov/FinancialReporting">Financial & Reporting</a></li>
                <li><a href="https://rrb.gov/NewsRoom">Newsroom</a></li>
                <li><a href="https://rrb.gov/Field-Office-Locator">Field Office Locator</a></li>
            </ul>
        </nav>
        <main class="main-content padded open-sans">
            @RenderBody()
        </main>
    </div>
</body>
</html>
