@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/open-sans-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html *
{
    box-sizing: border-box;
    margin: 0; /*browser defaults for margins are all stupid.*/
}



.answer {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    padding: .5em;
}

.answer-box
{
    flex-grow:1;
    text-align: center;
}

.answers
{
    display: flex;
    flex-direction: row;
}

.banner {
    background-color: #084f98;
    color: #fff;
    padding: 1em;
}


.banner a {
    background-color: #084f98;
    color: #fff;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.btn-primary {
    background-color: #112e51;
    border-color: #000;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 16pt;
    padding: .25em;
}

.btn-primary:hover
{
    background-color: #084f98;
}

.centered
{
    text-align: center;
}

.conclusion
{
    background-color: #fff;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5em;
}


.down-arrow::before
{
    color: #888;
    content:"↓";
    font-size:2em;
}


.flex-center {
    align-items: center
}
 
.flex-column 
{
	display: flex;
	flex-direction: column;
}

.flex-row 
{
	display: flex;
	flex-direction: row;
}

.flex-1 
{
	flex: 1;
	overflow: hidden;
}

.flowchart
{
    padding-top: 1em;
}

.input-ssn
{
    border-color: #000;
    border-radius: 5px;
    border-style: solid;
    padding: .5em;
    width: 9em;
}

.input-ssn:focus
{
    border-color: #084f98;
}


.logo {
    height: 100px;
    width: 125px;
}



.merriweather {
    font-family: "Merriweather", "Consolas", "serif"
}

.nav li
{
    color: #fff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    list-style-type: none;
    padding: .75em 1em;
}

.nav li:hover {
    background-color: #084f98;
    text-decoration: underline;
}

.nav a
{
    color: white;
    text-decoration: none;
}

.navy {
    background-color: #112e51;
}

.no {
    /*background-color: #ec8e90;*/
    background-color: #fcc;
    border-color: #900;
}

.numeric-input
{
    border-color: #000;
    border-radius: 5px;
    border-style: solid;
    text-align: right;
    width: 4em; /* max 4-digit number */
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}

.page-header
{
    /*color: gold;*/
    font-size: 24pt;
    padding-bottom: 1em;
}

.padded
{
    padding: 1em;
}



.question {
    background-color: #d3d3d3;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding: .5em;
}

.x-large {
    font-size: x-large;
}

.yes {
    /*background-color: #4fbb4f;*/
    background-color: #c3f6c3;
    border-color: #006400;
}

/*---------override for path-------*/
.down-arrow.path::before
{
    color: blue;
}

.path
{
    border-color:blue;
}